# Node modules
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
.vscode/

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/
*.lcov

# Environment variables
.env

# Dependencies
package-lock.json
yarn.lock
pnpm-lock.yaml

# Database files
*.sqlite
*.sqlite3
turso.db

# Build files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# System files
.DS_Store
Thumbs.db
