<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login failed</title>
    <link rel="stylesheet" href="../public/css/login-sigin.css">
</head>
<body>
    <div class="container">
        <p> <%= message %> </p>
        <form action="/">
            <button class="return-login" type="submit">volver</button>

        </form>
    </div>
    <br>
</body>
</html>